@font-face
  font-family 'SegoeWP'
  src url('./assets/fonts/SegoeWP.ttf')  format('truetype')

@font-face
  font-family 'SegoeWPLight'
  src url('./assets/fonts/segoe-wp-light.ttf')  format('truetype')

@font-face
  font-family 'LucidaSans'
  src url('./assets/fonts/lsans.ttf')  format('truetype')

@font-face
  font-family 'SegoeUI'
  src url('./assets/fonts/segoe-ui-light-2.ttf')  format('truetype')
@font-face
  font-family "SegoeUIBold"
  src url('./assets/fonts/segoe-ui-bold.ttf')  format('truetype')
  
@font-face
  font-family 'ArialMT'
  src url('./assets/fonts/ARIALMT.ttf')  format('truetype')

@font-face
  font-family 'OpenSans'
  src url('./assets/fonts/OpenSans-Regular.ttf')  format('truetype')

@font-face
  font-family "PT Sans - Narrow Bold"
  src url('./assets/fonts/PTN77F.ttf')  format('truetype')
@font-face
  font-family "PTSansRegular"
  src url('./assets/fonts/PTSans-regular.ttf')  format('truetype')

@font-face
  font-family "Asap"
  src url('./assets/fonts/Asap-Regular.otf')  format('opentype')
  


