@font-face
  font-family 'SegoeWP'
  src url('./assets/fonts/SegoeWP.ttf')  format('truetype')

@font-face
  font-family 'SegoeWPLight'
  src url('./assets/fonts/segoe-wp-light.ttf')  format('truetype')

@font-face
  font-family 'LucidaSans'
  src url('./assets/fonts/lsans.ttf')  format('truetype')